<table>
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Day</th>
    <th>Total</th>
  </tr>
{{#each hits}} {{! insert row for year }}
  <tr>
    <td>{{@key}}</td>
    </td></td>
    <td></td>
    <td>{{this}}</td>
  </tr>
{{/each}} {{! yyyy }}
</table>