<div class="alertBox">
{{#if error}}
  <div data-alert="" class="alert-box alert">
    {{error}}
  </div>
{{else}}
  <div data-alert="" class="alert-box success">
    Created meeting: {{name}}, for organization {{orgName}}
  </div>
{{/if}}
</div>