<div id="meetingsWrapper" class="small-12 columns">
  <section class="orgMeetingForm" class="row collapse">
  </section>
  <section id="alertInformation" data-alert class="alert-box">
  </section>
  <section id="meetingInfo" class="row collapse">
  </section>
</div>