<div class="row collapse text-center">
  <div class="medium-6 columns">
    <h4>Raw Meeting Log</h4>
    <a class="button" href="/api/log/download/{{orgId}}/{{meetingId}}" download>CSV</a>
  </div>
  <div class="medium-6 columns text-center">
    <h4>Raw Organization Log</h4>
    <a class="button" href="/api/log/download/{{orgId}}" download>CSV</a>
  </div>
</div>

