<table id="analyticsTotals" class="pivotTable" style="max-width:800px; width:100%; margin:0 auto;"> 
<thead>
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Day</th>
    <th>Total</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>