<ul class="off-canvas-list">
  <li><label>Evitics</label></li>{{name}}
  <li><a href="/">Home</a></li>
  <li><a href="/organizations">Organizations</a></li>
  <li><a href="/meetings">Meetings</a></li>
  <li><a href="/analytics">Analyitics</a></li>
  <li><a href="/marketing">Marketing</a></li>
  <li><a href="/help">Help</a></li>
  <li><a href="https://login.gatech.edu/cas/logout">Logout</a></li>
</ul>
