<h3>FAQ:</h3>
Help and FAQs

<pre><article id="unabletologin">
  Q: I am unable to log in to the website. I have tried logging in multiple times on different occasions but it does not seem to work for me.

  A: This website uses Georgia Tech’s CAS login service. The username and password for the website is the same one you use for other Georgia Tech resources. If you are able to log in successfully to T-Square or Buzzport, you should be able to log into the website as well. If you have changed your password recently, please allow the website up to 3 hours to get the updated credentials. if you still run into issues, you should contact Georgia Tech’s OIT: www.oit.gatech.edu
</article>

<article id="nonews">
  Q: I don’t see anything under the News section when I log in. What could be wrong?

  A: There will be nothing under News section if you have not joined any organization yet or the organizations you are the part of have no updates.
</article>

<article id="validUserIds">
  Q: What can I use to check-in people for a meeting?

  A: You can check-in people using their GTID or GT username. You can also use Buzzcard to check-in people if you are using our RFID reader.
</article>

<article id="joinRequest">
  Q: I have requested to join an organization but I don’t see it under my organization in the Organization page. When will I see the new organization?

  A: You are unable to see your requested organization under your organization because your request is still pending with the organization’s administrator. Once they approve your pending request only then you will be able to see the organization under My Organization.
</article>

<article id="analyticsTypes">
  Q: What type of analytics do you perform?
   
  A: We provide the ability for the user to see the logs of check-ins for the meetings as well as the organization for the past day, month, and year and you can download the file in .csv format as well.
</article>

<article id="whoStartsCheckin">
  Q: Who all can start the check-in process for a meeting?

  A: Any member who is a part of the organization can start the check-in process for a meeting.
</article>

<article id="contact">
  If you have any more questions, please feel free to email us at eventanalytics@lists.gatech.edu
</article>
</pre>