<h3>FAQ:</h3>
<ul>
  <li><a href="#triggers">Trigger Code</a></li>
  <li><a href="#checkIns">CheckIns</a></li>
  <li><a href="#marketing">Marketing</a></li>
  <li><a href="#analytics">Analytics</a></li>
</ul>
<article id="triggers">
  <code>
  {
    "name" : "Hi World"
  }
  </code>
</article>

<article id="checkIns">
 <h4>Checkins</h4>
</article>

<article id="marketing">
  <h4>Marketing</h4>
</article>

<article id="analytics">
  <h4>Analytics</h4>
</article>